<h1>Welcome representatives. You are offline.</h1>

<h3>These are representatives currently on the line</h3>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="user-table-body">
  </tbody>
</table>

<br>

<%# if @user.status == 'offline' %>
<%= link_to 'Start waiting for calls', user_path(@user) %>
<%# else %>
<%#= link_to 'Go Offline', offline_user_path(@user) %>
<%# end %>
<br>
<a href="/users/sign_out" data-method="delete" rel="nofollow">Log Out</a>

<script type="text/javascript">

$(function() {
  var key = "<%= Pusher.key %>"
  var currentUser = {};
  console.log(currentUser);
  console.log(lobby);

  lobby.init(key, currentUser);
  lobby.check();
});

</script>